.screen {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.screen .div-2 {
    background-color: var(--ffffffprimary);
    height: 900px;
    position: relative;
    width: 1440px;
}

.screen .overlap {
    height: 900px;
    left: 736px;
    position: absolute;
    top: 0;
    width: 704px;
}

.screen .mask {
    background-color: #f9af15;
    height: 900px;
    left: 0;
    position: absolute;
    top: 0;
    width: 704px;
}

.screen .free-feather-flag {
    height: 900px;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 704px;
}

.screen .link {
    align-items: flex-start;
    display: inline-flex;
    gap: 6px;
    left: 149px;
    position: absolute;
    top: 829px;
}

.screen .you-don-t-have-an-ac {
    color: var(--x-00000-0primary);
    font-family: var(--14px-regular-font-family);
    font-size: var(--14px-regular-font-size);
    font-style: var(--14px-regular-font-style);
    font-weight: var(--14px-regular-font-weight);
    letter-spacing: var(--14px-regular-letter-spacing);
    line-height: var(--14px-regular-line-height);
    position: relative;
    white-space: nowrap;
    width: fit-content;
}

.screen .create-an-account {
    color: #f9af15;
    font-family: var(--14px-bold-font-family);
    font-size: var(--14px-bold-font-size);
    font-style: var(--14px-bold-font-style);
    font-weight: var(--14px-bold-font-weight);
    letter-spacing: var(--14px-bold-letter-spacing);
    line-height: var(--14px-bold-line-height);
    position: relative;
    white-space: nowrap;
    width: fit-content;
}

.screen .group {
    height: 455px;
    left: 149px;
    position: absolute;
    top: 222px;
    width: 441px;
}

.screen .group-2 {
    height: 330px;
    left: 0;
    position: absolute;
    top: 125px;
    width: 439px;
}

.screen .forms-primary-select-active-onlight {
    left: 0 !important;
    position: absolute !important;
    top: 0 !important;
    width: 437px !important;
}

.screen .forms-primary-select-instance {
    width: 439px !important;
}

.screen .design-component-instance-node {
    left: 401px !important;
}

.screen .forms-primary-select-resting-onlight {
    left: 0 !important;
    position: absolute !important;
    top: 110px !important;
    width: 437px !important;
}

.screen .buttons-px-label {
    left: 0 !important;
    position: absolute !important;
    top: 278px !important;
    width: 437px !important;
}

.screen .buttons-14px-label-filled-active-onlight {
    background-color: #f9af15 !important;
    width: 439px !important;
}

.screen .buttons-label-instance {
    color: #000000 !important;
    left: 198px !important;
}

.screen .forms-general-checkbox-resting-onlight {
    left: 0 !important;
    position: absolute !important;
    top: 230px !important;
    width: 309px !important;
}

.screen .recover-password {
    color: var(--x-00000-0primary);
    font-family: var(--12px-bold-font-family);
    font-size: var(--12px-bold-font-size);
    font-style: var(--12px-bold-font-style);
    font-weight: var(--12px-bold-font-weight);
    left: 337px;
    letter-spacing: var(--12px-bold-letter-spacing);
    line-height: var(--12px-bold-line-height);
    position: absolute;
    text-align: right;
    top: 232px;
    white-space: nowrap;
}

.screen .sign-in {
    color: var(--x-00000-0primary);
    font-family: var(--heading-h1-font-family);
    font-size: var(--heading-h1-font-size);
    font-style: var(--heading-h1-font-style);
    font-weight: var(--heading-h1-font-weight);
    left: 0;
    letter-spacing: var(--heading-h1-letter-spacing);
    line-height: var(--heading-h1-line-height);
    position: absolute;
    top: 0;
    white-space: nowrap;
}

.screen .enter-your-account-d {
    color: var(--x-5f-64-6dprimary);
    font-family: var(--14px-regular-font-family);
    font-size: var(--14px-regular-font-size);
    font-style: var(--14px-regular-font-style);
    font-weight: var(--14px-regular-font-weight);
    left: 0;
    letter-spacing: var(--14px-regular-letter-spacing);
    line-height: var(--14px-regular-line-height);
    position: absolute;
    top: 58px;
    white-space: nowrap;
}

.screen .element {
    height: 50px;
    left: 149px;
    position: absolute;
    top: 40px;
    width: 114px;
}
