.div-wrapper {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.div-wrapper .div-2 {
    background-color: var(--ffffffprimary);
    height: 900px;
    position: relative;
    width: 1440px;
}

.div-wrapper .overlap {
    height: 900px;
    left: 736px;
    position: absolute;
    top: 0;
    width: 704px;
}

.div-wrapper .mask {
    background-color: #f9af15;
    height: 900px;
    left: 0;
    position: absolute;
    top: 0;
    width: 704px;
}

.div-wrapper .free-feather-flag {
    height: 900px;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 704px;
}

.div-wrapper .element {
    height: 50px;
    left: 149px;
    position: absolute;
    top: 40px;
    width: 114px;
}

.div-wrapper .group {
    height: 323px;
    left: 149px;
    position: absolute;
    top: 288px;
    width: 441px;
}

.div-wrapper .buttons-px-label {
    left: 0 !important;
    position: absolute !important;
    top: 271px !important;
    width: 437px !important;
}

.div-wrapper .buttons-14px-label-filled-active-onlight {
    background-color: #f9af15 !important;
    width: 439px !important;
}

.div-wrapper .buttons-label-instance {
    color: #000000 !important;
    left: 156px !important;
}

.div-wrapper .forms-primary-select-active-onlight {
    left: 0 !important;
    position: absolute !important;
    top: 151px !important;
    width: 437px !important;
}

.div-wrapper .forms-primary-select-instance {
    width: 439px !important;
}

.div-wrapper .forms-primary-select-active-onlight-instance {
    left: 401px !important;
}

.div-wrapper .forgot-password {
    color: var(--x-00000-0primary);
    font-family: var(--heading-h1-font-family);
    font-size: var(--heading-h1-font-size);
    font-style: var(--heading-h1-font-style);
    font-weight: var(--heading-h1-font-weight);
    left: 0;
    letter-spacing: var(--heading-h1-letter-spacing);
    line-height: var(--heading-h1-line-height);
    position: absolute;
    top: 0;
    white-space: nowrap;
}

.div-wrapper .flexcontainer {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 1px;
    height: 43px;
    left: 0;
    position: absolute;
    top: 58px;
    width: 413px;
}

.div-wrapper .text {
    align-self: stretch;
    color: var(--x-5f-64-6dprimary);
    font-family: var(--14px-regular-font-family);
    font-size: var(--14px-regular-font-size);
    font-style: var(--14px-regular-font-style);
    font-weight: var(--14px-regular-font-weight);
    letter-spacing: var(--14px-regular-letter-spacing);
    line-height: var(--14px-regular-line-height);
    position: relative;
}

.div-wrapper .text-wrapper {
    color: #5f636d;
    font-family: var(--14px-regular-font-family);
    font-size: var(--14px-regular-font-size);
    font-style: var(--14px-regular-font-style);
    font-weight: var(--14px-regular-font-weight);
    letter-spacing: var(--14px-regular-letter-spacing);
    line-height: var(--14px-regular-line-height);
}
